-{% extends "base.html" %}
{% load static %}

{% block body_block %} 
      

      <!-- Breadcrumbs -->
      <section class="bg-gray-7">
        <div class="breadcrumbs-custom box-transform-wrap context-dark">
          <div class="container">
            <h3 class="breadcrumbs-custom-title">Board Of Directord</h3>
            <div class="breadcrumbs-custom-decor"></div>
          </div>
          <div class="box-transform" style="background-image: url({% static 'image/background/bg-typography.jpg' %});"></div>
        </div>
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><i class="fa-solid fa-arrow-right-long"></i></li>
            <li class="active">Board Of Directord</li>
          </ul>
        </div>
      </section>

       <!-- Services 2-->
       <section class="section section-xl bg-default text-center">
        <div class="container-fluid container-inset-0" style="">
          <div class="row row-30 row-desktop-8 gutters-8 hoverdir" data-lightgallery="group" style="margin: 0 auto;">
            {% for boardofdirector in boardofdirectors %}
            <div class="col-sm-6 col-lg-4 col-xxl-3 mb-3">
              <div class="oh-desktop gallery_style" style="height: 400px; width:350px">
                <!-- Thumbnail Modern-->
                <article class="thumbnail thumbnail-modern wow slideInDown"><img src="/media/{{boardofdirector.image}}" alt="" width="474" height="355" class="gallery_style" style="height:400px; width:350px"/>
                  <div class="thumbnail-modern-caption">
                    <h5 class="thumbnail-modern-title"><a href="{% url 'boardofdirectorsdetails' slug=boardofdirector.slug %}">{{boardofdirector.name}}</a></h5>
                    <div class="thumbnail-modern-badge">{{boardofdirector.title}}</div>
                  </div>
                </article>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </section>


{% endblock body_block %}